# We use names-dataset python package to get country-wise popular names. The package uses the massive Facebook dump of 533M users.

In [1]:
from names_dataset import NameDataset
import pandas as pd

In [2]:
DATA_DIR = "data/"

In [3]:
nd = NameDataset()

In [4]:
countries = nd.get_country_codes(alpha_2=False)
countries

[Country(alpha_2='CN', alpha_3='CHN', flag='ðŸ‡¨ðŸ‡³', name='China', numeric='156', official_name="People's Republic of China"),
 Country(alpha_2='AZ', alpha_3='AZE', flag='ðŸ‡¦ðŸ‡¿', name='Azerbaijan', numeric='031', official_name='Republic of Azerbaijan'),
 Country(alpha_2='AR', alpha_3='ARG', flag='ðŸ‡¦ðŸ‡·', name='Argentina', numeric='032', official_name='Argentine Republic'),
 Country(alpha_2='YE', alpha_3='YEM', flag='ðŸ‡¾ðŸ‡ª', name='Yemen', numeric='887', official_name='Republic of Yemen'),
 Country(alpha_2='BE', alpha_3='BEL', flag='ðŸ‡§ðŸ‡ª', name='Belgium', numeric='056', official_name='Kingdom of Belgium'),
 Country(alpha_2='MO', alpha_3='MAC', flag='ðŸ‡²ðŸ‡´', name='Macao', numeric='446', official_name='Macao Special Administrative Region of China'),
 Country(alpha_2='SD', alpha_3='SDN', flag='ðŸ‡¸ðŸ‡©', name='Sudan', numeric='729', official_name='Republic of the Sudan'),
 Country(alpha_2='PS', alpha_3='PSE', flag='ðŸ‡µðŸ‡¸', name='Palestine, State of', numeric='275', official_name='the State of Palestine'),
 Country(alpha_2='BR', alpha_3='BRA', flag='ðŸ‡§ðŸ‡·', name='Brazil', numeric='076', official_name='Federative Republic of Brazil'),
 Country(alpha_2='FJ', alpha_3='FJI', flag='ðŸ‡«ðŸ‡¯', name='Fiji', numeric='242', official_name='Republic of Fiji'),
 Country(alpha_2='DK', alpha_3='DNK', flag='ðŸ‡©ðŸ‡°', name='Denmark', numeric='208', official_name='Kingdom of Denmark'),
 Country(alpha_2='BG', alpha_3='BGR', flag='ðŸ‡§ðŸ‡¬', name='Bulgaria', numeric='100', official_name='Republic of Bulgaria'),
 Country(alpha_2='GR', alpha_3='GRC', flag='ðŸ‡¬ðŸ‡·', name='Greece', numeric='300', official_name='Hellenic Republic'),
 Country(alpha_2='HU', alpha_3='HUN', flag='ðŸ‡­ðŸ‡º', name='Hungary', numeric='348', official_name='Hungary'),
 Country(alpha_2='MT', alpha_3='MLT', flag='ðŸ‡²ðŸ‡¹', name='Malta', numeric='470', official_name='Republic of Malta'),
 Country(alpha_2='IE', alpha_3='IRL', flag='ðŸ‡®ðŸ‡ª', name='Ireland', numeric='372'),
 Country(alpha_2='HT', alpha_3='HTI', flag='ðŸ‡­ðŸ‡¹', name='Haiti', numeric='332', official_name='Republic of Haiti'),
 Country(alpha_2='CM', alpha_3='CMR', flag='ðŸ‡¨ðŸ‡²', name='Cameroon', numeric='120', official_name='Republic of Cameroon'),
 Country(alpha_2='DE', alpha_3='DEU', flag='ðŸ‡©ðŸ‡ª', name='Germany', numeric='276', official_name='Federal Republic of Germany'),
 Country(alpha_2='BO', alpha_3='BOL', common_name='Bolivia', flag='ðŸ‡§ðŸ‡´', name='Bolivia, Plurinational State of', numeric='068', official_name='Plurinational State of Bolivia'),
 Country(alpha_2='ID', alpha_3='IDN', flag='ðŸ‡®ðŸ‡©', name='Indonesia', numeric='360', official_name='Republic of Indonesia'),
 Country(alpha_2='PL', alpha_3='POL', flag='ðŸ‡µðŸ‡±', name='Poland', numeric='616', official_name='Republic of Poland'),
 Country(alpha_2='CL', alpha_3='CHL', flag='ðŸ‡¨ðŸ‡±', name='Chile', numeric='152', official_name='Republic of Chile'),
 Country(alpha_2='BH', alpha_3='BHR', flag='ðŸ‡§ðŸ‡­', name='Bahrain', numeric='048', official_name='Kingdom of Bahrain'),
 Country(alpha_2='SG', alpha_3='SGP', flag='ðŸ‡¸ðŸ‡¬', name='Singapore', numeric='702', official_name='Republic of Singapore'),
 Country(alpha_2='SI', alpha_3='SVN', flag='ðŸ‡¸ðŸ‡®', name='Slovenia', numeric='705', official_name='Republic of Slovenia'),
 Country(alpha_2='SV', alpha_3='SLV', flag='ðŸ‡¸ðŸ‡»', name='El Salvador', numeric='222', official_name='Republic of El Salvador'),
 Country(alpha_2='NA', alpha_3='NAM', flag='ðŸ‡³ðŸ‡¦', name='Namibia', numeric='516', official_name='Republic of Namibia'),
 Country(alpha_2='EC', alpha_3='ECU', flag='ðŸ‡ªðŸ‡¨', name='Ecuador', numeric='218', official_name='Republic of Ecuador'),
 Country(alpha_2='SA', alpha_3='SAU', flag='ðŸ‡¸ðŸ‡¦', name='Saudi Arabia', numeric='682', official_name='Kingdom of Saudi Arabia'),
 Country(alpha_2='UY', alpha_3='URY', flag='ðŸ‡ºðŸ‡¾', name='Uruguay', numeric='858', official_name='Eastern Republic of Uruguay'),
 Country(alpha_2='MY', alpha_3='MYS', flag='ðŸ‡²ðŸ‡¾', name='Malaysia', numeric='458'),
 Country(alpha_2='IS', alpha_3='ISL', flag='ðŸ‡®ðŸ‡¸', name='Iceland', numeric='352', official_name='Republic of Iceland'),
 Country(alpha_2='PA', alpha_3='PAN', flag='ðŸ‡µðŸ‡¦', name='Panama', numeric='591', official_name='Republic of Panama'),
 Country(alpha_2='CZ', alpha_3='CZE', flag='ðŸ‡¨ðŸ‡¿', name='Czechia', numeric='203', official_name='Czech Republic'),
 Country(alpha_2='QA', alpha_3='QAT', flag='ðŸ‡¶ðŸ‡¦', name='Qatar', numeric='634', official_name='State of Qatar'),
 Country(alpha_2='KW', alpha_3='KWT', flag='ðŸ‡°ðŸ‡¼', name='Kuwait', numeric='414', official_name='State of Kuwait'),
 Country(alpha_2='RS', alpha_3='SRB', flag='ðŸ‡·ðŸ‡¸', name='Serbia', numeric='688', official_name='Republic of Serbia'),
 Country(alpha_2='SY', alpha_3='SYR', flag='ðŸ‡¸ðŸ‡¾', name='Syrian Arab Republic', numeric='760'),
 Country(alpha_2='BI', alpha_3='BDI', flag='ðŸ‡§ðŸ‡®', name='Burundi', numeric='108', official_name='Republic of Burundi'),
 Country(alpha_2='HR', alpha_3='HRV', flag='ðŸ‡­ðŸ‡·', name='Croatia', numeric='191', official_name='Republic of Croatia'),
 Country(alpha_2='PE', alpha_3='PER', flag='ðŸ‡µðŸ‡ª', name='Peru', numeric='604', official_name='Republic of Peru'),
 Country(alpha_2='IL', alpha_3='ISR', flag='ðŸ‡®ðŸ‡±', name='Israel', numeric='376', official_name='State of Israel'),
 Country(alpha_2='TR', alpha_3='TUR', flag='ðŸ‡¹ðŸ‡·', name='Turkey', numeric='792', official_name='Republic of Turkey'),
 Country(alpha_2='MV', alpha_3='MDV', flag='ðŸ‡²ðŸ‡»', name='Maldives', numeric='462', official_name='Republic of Maldives'),
 Country(alpha_2='MU', alpha_3='MUS', flag='ðŸ‡²ðŸ‡º', name='Mauritius', numeric='480', official_name='Republic of Mauritius'),
 Country(alpha_2='IR', alpha_3='IRN', flag='ðŸ‡®ðŸ‡·', name='Iran, Islamic Republic of', numeric='364', official_name='Islamic Republic of Iran'),
 Country(alpha_2='AL', alpha_3='ALB', flag='ðŸ‡¦ðŸ‡±', name='Albania', numeric='008', official_name='Republic of Albania'),
 Country(alpha_2='TN', alpha_3='TUN', flag='ðŸ‡¹ðŸ‡³', name='Tunisia', numeric='788', official_name='Republic of Tunisia'),
 Country(alpha_2='GH', alpha_3='GHA', flag='ðŸ‡¬ðŸ‡­', name='Ghana', numeric='288', official_name='Republic of Ghana'),
 Country(alpha_2='KZ', alpha_3='KAZ', flag='ðŸ‡°ðŸ‡¿', name='Kazakhstan', numeric='398', official_name='Republic of Kazakhstan'),
 Country(alpha_2='LB', alpha_3='LBN', flag='ðŸ‡±ðŸ‡§', name='Lebanon', numeric='422', official_name='Lebanese Republic'),
 Country(alpha_2='US', alpha_3='USA', flag='ðŸ‡ºðŸ‡¸', name='United States', numeric='840', official_name='United States of America'),
 Country(alpha_2='DJ', alpha_3='DJI', flag='ðŸ‡©ðŸ‡¯', name='Djibouti', numeric='262', official_name='Republic of Djibouti'),
 Country(alpha_2='GB', alpha_3='GBR', flag='ðŸ‡¬ðŸ‡§', name='United Kingdom', numeric='826', official_name='United Kingdom of Great Britain and Northern Ireland'),
 Country(alpha_2='ES', alpha_3='ESP', flag='ðŸ‡ªðŸ‡¸', name='Spain', numeric='724', official_name='Kingdom of Spain'),
 Country(alpha_2='HK', alpha_3='HKG', flag='ðŸ‡­ðŸ‡°', name='Hong Kong', numeric='344', official_name='Hong Kong Special Administrative Region of China'),
 Country(alpha_2='BN', alpha_3='BRN', flag='ðŸ‡§ðŸ‡³', name='Brunei Darussalam', numeric='096'),
 Country(alpha_2='TW', alpha_3='TWN', common_name='Taiwan', flag='ðŸ‡¹ðŸ‡¼', name='Taiwan, Province of China', numeric='158', official_name='Taiwan, Province of China'),
 Country(alpha_2='BF', alpha_3='BFA', flag='ðŸ‡§ðŸ‡«', name='Burkina Faso', numeric='854'),
 Country(alpha_2='AE', alpha_3='ARE', flag='ðŸ‡¦ðŸ‡ª', name='United Arab Emirates', numeric='784'),
 Country(alpha_2='GT', alpha_3='GTM', flag='ðŸ‡¬ðŸ‡¹', name='Guatemala', numeric='320', official_name='Republic of Guatemala'),
 Country(alpha_2='CR', alpha_3='CRI', flag='ðŸ‡¨ðŸ‡·', name='Costa Rica', numeric='188', official_name='Republic of Costa Rica'),
 Country(alpha_2='LY', alpha_3='LBY', flag='ðŸ‡±ðŸ‡¾', name='Libya', numeric='434', official_name='Libya'),
 Country(alpha_2='GE', alpha_3='GEO', flag='ðŸ‡¬ðŸ‡ª', name='Georgia', numeric='268'),
 Country(alpha_2='CO', alpha_3='COL', flag='ðŸ‡¨ðŸ‡´', name='Colombia', numeric='170', official_name='Republic of Colombia'),
 Country(alpha_2='IQ', alpha_3='IRQ', flag='ðŸ‡®ðŸ‡¶', name='Iraq', numeric='368', official_name='Republic of Iraq'),
 Country(alpha_2='MD', alpha_3='MDA', common_name='Moldova', flag='ðŸ‡²ðŸ‡©', name='Moldova, Republic of', numeric='498', official_name='Republic of Moldova'),
 Country(alpha_2='NO', alpha_3='NOR', flag='ðŸ‡³ðŸ‡´', name='Norway', numeric='578', official_name='Kingdom of Norway'),
 Country(alpha_2='MA', alpha_3='MAR', flag='ðŸ‡²ðŸ‡¦', name='Morocco', numeric='504', official_name='Kingdom of Morocco'),
 Country(alpha_2='AT', alpha_3='AUT', flag='ðŸ‡¦ðŸ‡¹', name='Austria', numeric='040', official_name='Republic of Austria'),
 Country(alpha_2='EG', alpha_3='EGY', flag='ðŸ‡ªðŸ‡¬', name='Egypt', numeric='818', official_name='Arab Republic of Egypt'),
 Country(alpha_2='BD', alpha_3='BGD', flag='ðŸ‡§ðŸ‡©', name='Bangladesh', numeric='050', official_name="People's Republic of Bangladesh"),
 Country(alpha_2='CH', alpha_3='CHE', flag='ðŸ‡¨ðŸ‡­', name='Switzerland', numeric='756', official_name='Swiss Confederation'),
 Country(alpha_2='EE', alpha_3='EST', flag='ðŸ‡ªðŸ‡ª', name='Estonia', numeric='233', official_name='Republic of Estonia'),
 Country(alpha_2='PT', alpha_3='PRT', flag='ðŸ‡µðŸ‡¹', name='Portugal', numeric='620', official_name='Portuguese Republic'),
 Country(alpha_2='PR', alpha_3='PRI', flag='ðŸ‡µðŸ‡·', name='Puerto Rico', numeric='630'),
 Country(alpha_2='IN', alpha_3='IND', flag='ðŸ‡®ðŸ‡³', name='India', numeric='356', official_name='Republic of India'),
 Country(alpha_2='IT', alpha_3='ITA', flag='ðŸ‡®ðŸ‡¹', name='Italy', numeric='380', official_name='Italian Republic'),
 Country(alpha_2='OM', alpha_3='OMN', flag='ðŸ‡´ðŸ‡²', name='Oman', numeric='512', official_name='Sultanate of Oman'),
 Country(alpha_2='SE', alpha_3='SWE', flag='ðŸ‡¸ðŸ‡ª', name='Sweden', numeric='752', official_name='Kingdom of Sweden'),
 Country(alpha_2='CA', alpha_3='CAN', flag='ðŸ‡¨ðŸ‡¦', name='Canada', numeric='124'),
 Country(alpha_2='DZ', alpha_3='DZA', flag='ðŸ‡©ðŸ‡¿', name='Algeria', numeric='012', official_name="People's Democratic Republic of Algeria"),
 Country(alpha_2='MX', alpha_3='MEX', flag='ðŸ‡²ðŸ‡½', name='Mexico', numeric='484', official_name='United Mexican States'),
 Country(alpha_2='KR', alpha_3='KOR', common_name='South Korea', flag='ðŸ‡°ðŸ‡·', name='Korea, Republic of', numeric='410'),
 Country(alpha_2='JM', alpha_3='JAM', flag='ðŸ‡¯ðŸ‡²', name='Jamaica', numeric='388'),
 Country(alpha_2='NG', alpha_3='NGA', flag='ðŸ‡³ðŸ‡¬', name='Nigeria', numeric='566', official_name='Federal Republic of Nigeria'),
 Country(alpha_2='TM', alpha_3='TKM', flag='ðŸ‡¹ðŸ‡²', name='Turkmenistan', numeric='795'),
 Country(alpha_2='AO', alpha_3='AGO', flag='ðŸ‡¦ðŸ‡´', name='Angola', numeric='024', official_name='Republic of Angola'),
 Country(alpha_2='RU', alpha_3='RUS', flag='ðŸ‡·ðŸ‡º', name='Russian Federation', numeric='643'),
 Country(alpha_2='PH', alpha_3='PHL', flag='ðŸ‡µðŸ‡­', name='Philippines', numeric='608', official_name='Republic of the Philippines'),
 Country(alpha_2='FR', alpha_3='FRA', flag='ðŸ‡«ðŸ‡·', name='France', numeric='250', official_name='French Republic'),
 Country(alpha_2='BW', alpha_3='BWA', flag='ðŸ‡§ðŸ‡¼', name='Botswana', numeric='072', official_name='Republic of Botswana'),
 Country(alpha_2='JO', alpha_3='JOR', flag='ðŸ‡¯ðŸ‡´', name='Jordan', numeric='400', official_name='Hashemite Kingdom of Jordan'),
 Country(alpha_2='FI', alpha_3='FIN', flag='ðŸ‡«ðŸ‡®', name='Finland', numeric='246', official_name='Republic of Finland'),
 Country(alpha_2='CY', alpha_3='CYP', flag='ðŸ‡¨ðŸ‡¾', name='Cyprus', numeric='196', official_name='Republic of Cyprus'),
 Country(alpha_2='JP', alpha_3='JPN', flag='ðŸ‡¯ðŸ‡µ', name='Japan', numeric='392'),
 Country(alpha_2='LU', alpha_3='LUX', flag='ðŸ‡±ðŸ‡º', name='Luxembourg', numeric='442', official_name='Grand Duchy of Luxembourg'),
 Country(alpha_2='ET', alpha_3='ETH', flag='ðŸ‡ªðŸ‡¹', name='Ethiopia', numeric='231', official_name='Federal Democratic Republic of Ethiopia'),
 Country(alpha_2='KH', alpha_3='KHM', flag='ðŸ‡°ðŸ‡­', name='Cambodia', numeric='116', official_name='Kingdom of Cambodia'),
 Country(alpha_2='HN', alpha_3='HND', flag='ðŸ‡­ðŸ‡³', name='Honduras', numeric='340', official_name='Republic of Honduras'),
 Country(alpha_2='LT', alpha_3='LTU', flag='ðŸ‡±ðŸ‡¹', name='Lithuania', numeric='440', official_name='Republic of Lithuania'),
 Country(alpha_2='NL', alpha_3='NLD', flag='ðŸ‡³ðŸ‡±', name='Netherlands', numeric='528', official_name='Kingdom of the Netherlands'),
 Country(alpha_2='AF', alpha_3='AFG', flag='ðŸ‡¦ðŸ‡«', name='Afghanistan', numeric='004', official_name='Islamic Republic of Afghanistan'),
 Country(alpha_2='ZA', alpha_3='ZAF', flag='ðŸ‡¿ðŸ‡¦', name='South Africa', numeric='710', official_name='Republic of South Africa')]

Let us focus on the following countries only

In [5]:
country_names = {
    "India": "india",
    "United States": "usa",
    "United Kingdom": "uk",
    "Nigeria": "nigeria",
    "United Arab Emirates": "uae",
    "Morocco": "morocco",
    "Netherlands": "netherlands",
    "Peru": "peru",
    "Germany": "germany",
    "France": "france",
    "Italy": "italy",
    "Bangladesh": "bangladesh",
    "Singapore": "singapore",
    "Hong Kong": "hongkong",
    "South Africa": "southafrica",
    "Spain": "spain",
    "Mexico": "mexico",
    "Malaysia": "malaysia",
    "Canada": "canada",
    "Indonesia": "indonesia",
}

Fetching lastnames and gender-wise firstnames for each country

In [6]:
data = {}
for country in countries:
    if country.name not in country_names:
        continue
    male_first_names = nd.get_top_names(n=100000, use_first_names=True, gender="M",
                            country_alpha2=country.alpha_2)[country.alpha_2]["M"]
    female_first_names = nd.get_top_names(n=100000, use_first_names=True, gender="F",
                            country_alpha2=country.alpha_2)[country.alpha_2]["F"]
    last_names = nd.get_top_names(n=100000, use_first_names=False,
                                  country_alpha2=country.alpha_2)[country.alpha_2]
    data[country_names[country.name]] = [male_first_names, female_first_names, last_names]

We only want to use the names which contain only the english characters: a-z

In [7]:
dataset = []
for country in data:
    for name in data[country][0]:
        if name.isascii() and name.isalpha() and len(name) > 0:
            dataset.append([country, "firstname", "male", name.lower()])
    for name in data[country][1]:
        if name.isascii() and name.isalpha() and len(name) > 0:
            dataset.append([country, "firstname", "female", name.lower()])
    for name in data[country][0]:
        if name.isascii() and name.isalpha() and len(name) > 0:
            dataset.append([country, "lastname", "neutral", name.lower()])

In [8]:
df = pd.DataFrame(dataset, columns=["country", "nametype", "gender", "name"])
df.to_csv(DATA_DIR + "dataset.csv", index=False)
df

            country   nametype   gender       name
0           germany  firstname     male    michael
1           germany  firstname     male     thomas
2           germany  firstname     male    andreas
3           germany  firstname     male  christian
4           germany  firstname     male     stefan
...             ...        ...      ...        ...
419413  southafrica   lastname  neutral  molahlegi
419414  southafrica   lastname  neutral      phalo
419415  southafrica   lastname  neutral      mpapa
419416  southafrica   lastname  neutral   mayekiso
419417  southafrica   lastname  neutral     nkhume

[419418 rows x 4 columns]